name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      
      - name: Install dependencies
        run: make deps
      
      - name: Vet code
        run: make vet
      
      - name: Run tests
        run: make test

      - name: Build
        run: make build
